<h2>Agregar Ciudad</h2>

<%= form_for(@city) do |f| %>
	<p>
		<%= f.label :nombre %><br>
		<%= f.text_field :name, :placeholder => "Nombre Ciudad" %>

	</p>
	<p>
		<%= f.label :Ciudad %><br>
		<%= f.select :country_id, options_for_select(Country.all.map{|s|[s.name, s.id]}) %>
	</p>
	<%= f.submit "Crear" , class: "btn btn-danger" %>
<% end %>